---

- name: Configure docker in manual mode - non-systemd
  ansible.builtin.lineinfile:
    dest: /etc/init/docker.override
    regexp: '^manual'
    line: 'manual'
    mode: '0644'
  when: ansible_facts['service_mgr'] != 'systemd' and remnux_docker_service_manual | bool

- name: Configure docker in manual mode - systemd
  ansible.builtin.systemd:
    name: "{{ docker_svc | default('docker') }}"
    enabled: false
  when: ansible_facts['service_mgr'] == 'systemd' and remnux_docker_service_manual | bool
  failed_when: false

- name: Ensure docker pip is present
  ansible.builtin.pip:
    name: docker
    state: present

- name: Docker
  when: not (ansible_facts['virtualization_type'] is defined and ansible_facts['virtualization_type'] == "docker")
  block:
    - name: Ensure docker service is started before downloading images
      ansible.builtin.service:
        name: "{{ docker_svc | default('docker') }}"
        state: started
      when: remnux_docker_images != []
      failed_when: false

    ## https://remnux.org/docs/containers/malware-analysis/
    - name: Pre-download Remnux docker images
      community.docker.docker_image:
        name: "{{ item }}"
        source: pull
      with_items: "{{ remnux_docker_images }}"
      failed_when: false
