---

- name: Ensure archives directory exists
  ansible.builtin.file:
    path: "{{ archives_dir }}"
    state: directory
    mode: '0755'

- name: Download Ghidra
  ansible.builtin.get_url:
    url: "{{ remnux_ghidra_url }}"
    checksum: "{{ remnux_ghidra_checksum | default(omit) }}"
    dest: "{{ archives_dir }}/{{ remnux_ghidra_url | basename }}"
    mode: '0644'

- name: Unarchive Ghidra
  ansible.builtin.unarchive:
    src: "{{ archives_dir }}/{{ remnux_ghidra_url | basename }}"
    dest: "/usr/local"
    mode: '0755'
    creates: "/usr/local/{{ remnux_ghidra_url | basename | regex_replace('PUBLIC_[0-9]+.zip$', 'PUBLIC') }}/ghidraRun"
    remote_src: true

- name: Symlink for ghidra binary
  ansible.builtin.file:
    src: "/usr/local/{{ remnux_ghidra_url | basename | regex_replace('PUBLIC_[0-9]+.zip$', 'PUBLIC') }}/ghidraRun"
    dest: /usr/local/bin/ghidra
    state: link
    mode: '0755'
