---
# latest https://docs.remnux.org/install-distro/install-from-scratch, Jan 2021
# leveraging saltstack, upstream solution if want latest that is not mirrored by ansible role
# /var/cache/remnux/cli/saltstack.log
# /etc/remnux-config

- name: Ensure gnupg present
  ansible.builtin.package:
    name: gnupg
    state: present

- name: Download remnux-cli
  ansible.builtin.get_url:
    url: "https://github.com/REMnux/remnux-cli/releases/download/{{ remnux_cli_github_version }}/remnux-cli-linux"
    dest: /usr/local/bin/remnux
    mode: '0755'
    owner: root
    checksum: "{{ remnux_cli_sha256 | default(omit) }}"

- name: Execute remnux install
  ansible.builtin.command:  # noqa no-changed-when
    cmd: "remnux install --user={{ remnux_user }}"
  become: yes
  when: remnux_cli_install is defined and remnux_cli_install | bool

- name: Execute remnux install cloud - keeping ssh
  ansible.builtin.command:  # noqa no-changed-when
    cmd: "remnux install --mode=cloud --user={{ remnux_user }}"
  become: yes
  when: remnux_cli_install_cloud is defined and remnux_cli_install_cloud | bool

- name: Execute remnux upgrade
  ansible.builtin.command:  # noqa no-changed-when
    cmd: "remnux upgrade --user={{ remnux_user }}"
  become: yes
  when: remnux_cli_upgrade is defined and remnux_cli_upgrade | bool
